.container {
  background-color: lightblue;
  margin:  10px auto;
  display: flex;
  padding: 20px 0;
  width: 900px;
}

.item {
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  background-color: lightcyan;
  border: 2px solid darkcyan;
}

.container {
  width: 500px;
  flex-wrap: wrap;
}

.container {
  width: 300px;
}

.item {
  flex-grow: 1;
}

.container {
  width: 150px;
}