body {
  font-family: cursive;
  background-image: url('../ensalada-con-pepino.jpg');
  color: white;
  background-size: cover;
  background-position-y: -45px;
}

h1 {
  text-align: center;
  color: orange;
  border: 6px solid black;
}

li{
  font-family: fantasy;
  font-size: 10px;
  font-style: italic;
  font-variant: small-caps;
}