html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  background-color: khaki;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 100px;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.wrapper > * {
  background-color: orange;
  border: 1px solid darkorange;
  padding: 15px;
  font-size: 24px;
}